ClientHttp/src/main/java/Proxy/BanqueService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.3 git-revision#a57c222. --><!-- Generated by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.3 git-revision#a57c222. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://TP1.market.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://TP1.market.com/" name="BanqueServiceService">
<types>
<xsd:schema>
<xsd:import namespace="http://TP1.market.com/" schemaLocation="http://localhost:2000/BanqueService?xsd=1"/>
</xsd:schema>
</types>
<message name="conversionEuroDirhams">
<part name="parameters" element="tns:conversionEuroDirhams"/>
</message>
<message name="conversionEuroDirhamsResponse">
<part name="parameters" element="tns:conversionEuroDirhamsResponse"/>
</message>
<message name="getAccount">
<part name="parameters" element="tns:getAccount"/>
</message>
<message name="getAccountResponse">
<part name="parameters" element="tns:getAccountResponse"/>
</message>
<message name="getAccounts">
<part name="parameters" element="tns:getAccounts"/>
</message>
<message name="getAccountsResponse">
<part name="parameters" element="tns:getAccountsResponse"/>
</message>
<portType name="BanqueService">
<operation name="conversionEuroDirhams">
<input wsam:Action="http://TP1.market.com/BanqueService/conversionEuroDirhamsRequest" message="tns:conversionEuroDirhams"/>
<output wsam:Action="http://TP1.market.com/BanqueService/conversionEuroDirhamsResponse" message="tns:conversionEuroDirhamsResponse"/>
</operation>
<operation name="getAccount">
<input wsam:Action="http://TP1.market.com/BanqueService/getAccountRequest" message="tns:getAccount"/>
<output wsam:Action="http://TP1.market.com/BanqueService/getAccountResponse" message="tns:getAccountResponse"/>
</operation>
<operation name="getAccounts">
<input wsam:Action="http://TP1.market.com/BanqueService/getAccountsRequest" message="tns:getAccounts"/>
<output wsam:Action="http://TP1.market.com/BanqueService/getAccountsResponse" message="tns:getAccountsResponse"/>
</operation>
</portType>
<binding name="BanqueServicePortBinding" type="tns:BanqueService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="conversionEuroDirhams">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAccount">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAccounts">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="BanqueServiceService">
<port name="BanqueServicePort" binding="tns:BanqueServicePortBinding">
<soap:address location="http://localhost:2000/BanqueService"/>
</port>
</service>
</definitions>